<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.watchball.dataserver.bettingodd.mapper.BettinGoddMapper">
    <sql id="Base_Column_List">
            id,
            match_time,
            league,
            home,
            away,
            singler_qspf,
            single_bf,
            single_jq,
            single_bqc,
            single_spf,
            rqspf,
            bf,
            jq,
            bqc,
            spf,
            `type`,
            match_id,
            teams,
            odds,
            is_end
    </sql>
    <resultMap id="BaseResultMap" type="com.watchball.dataserver.bettingodd.entity.BettinGodd">
        <result column="id" property="id"/>
        <result column="match_time" property="matchTime"/>
        <result column="league" property="league"/>
        <result column="home" property="home"/>
        <result column="away" property="away"/>
        <result column="singler_qspf" property="singleRqspf"/>
        <result column="single_bf" property="singleBf"/>
        <result column="single_jq" property="singleJq"/>
        <result column="single_bqc" property="singleBqc"/>
        <result column="single_spf" property="singleSpf"/>
        <result column="rqspf" property="rqspf" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="bf" property="bf" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="jq" property="jq" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="bqc" property="bqc" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="spf" property="spf" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="type" property="type"/>
        <result column="match_id" property="matchId"/>
        <result column="teams" property="teams"/>
        <result column="odds" property="odds"/>
        <result column="is_end" property="isEnd"/>
    </resultMap>

<!--auto generated by MybatisCodeHelper on 2020-01-16-->
    <select id="findByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bettin_godd
        <where>
            <if test="id != null">
                and id=#{id}
            </if>
            <if test="matchTime != null">
                and match_time=#{matchTime}
            </if>
            <if test="league != null">
                and league=#{league}
            </if>
            <if test="home != null">
                and home=#{home}
            </if>
            <if test="away != null">
                and away=#{away}
            </if>
            <if test="singleRqspf != null">
                and singler_qspf=#{singleRqspf}
            </if>
            <if test="singleBf != null">
                and single_bf=#{singleBf}
            </if>
            <if test="singleJq != null">
                and single_jq=#{singleJq}
            </if>
            <if test="singleBqc != null">
                and single_bqc=#{singleBqc}
            </if>
            <if test="singleSpf != null">
                and single_spf=#{singleSpf}
            </if>
            <if test="rqspf != null">
                and rqspf=#{rqspf}
            </if>
            <if test="bf != null">
                and bf=#{bf}
            </if>
            <if test="jq != null">
                and jq=#{jq}
            </if>
            <if test="bqc != null">
                and bqc=#{bqc}
            </if>
            <if test="spf != null">
                and spf=#{spf}
            </if>
            <if test="type != null">
                and `type`=#{type}
            </if>
            <if test="matchId != null">
                and match_id=#{matchId}
            </if>
            <if test="teams != null">
                and teams=#{teams}
            </if>
            <if test="odds != null">
                and odds=#{odds}
            </if>
            <if test="isEnd != null">
                and is_end=#{isEnd}
            </if>
        </where>
    </select>
</mapper>
