<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.watchball.dataserver.lotterymatchscores.dao.LotteryGameScoreMapper">
    <sql id="Base_Column_List">
        match_id,
            color,
            kind,
            league_id,
            league_chs,
            sub_league_id,
            sub_league,
            match_time,
            start_time,
            home_chs,
            away_chs,
            home_id,
            away_id,
            `state`,
            home_score,
            away_score,
            home_half_score,
            away_half_score,
            home_red,
            away_red,
            home_yellow,
            away_yellow,
            home_corner,
            away_corner,
            home_rank,
            away_rank,
            is_neutral,
            has_lineup,
            `explain`
    </sql>
    <resultMap id="BaseResultMap" type="com.watchball.dataserver.lotterymatchscores.entity.LotteryGameScore">
        <result column="match_id" property="matchId"/>
        <result column="color" property="color"/>
        <result column="kind" property="kind"/>
        <result column="league_id" property="leagueId"/>
        <result column="league_chs" property="leagueChs"/>
        <result column="sub_league_id" property="subLeagueId"/>
        <result column="sub_league" property="subLeague"/>
        <result column="match_time" property="matchTime"/>
        <result column="start_time" property="startTime"/>
        <result column="home_chs" property="homeChs"/>
        <result column="away_chs" property="awayChs"/>
        <result column="home_id" property="homeId"/>
        <result column="away_id" property="awayId"/>
        <result column="state" property="state"/>
        <result column="home_score" property="homeScore"/>
        <result column="away_score" property="awayScore"/>
        <result column="home_half_score" property="homeHalfScore"/>
        <result column="away_half_score" property="awayHalfScore"/>
        <result column="home_red" property="homeRed"/>
        <result column="away_red" property="awayRed"/>
        <result column="home_yellow" property="homeYellow"/>
        <result column="away_yellow" property="awayYellow"/>
        <result column="home_corner" property="homeCorner"/>
        <result column="away_corner" property="awayCorner"/>
        <result column="home_rank" property="homeRank"/>
        <result column="away_rank" property="awayRank"/>
        <result column="is_neutral" property="isNeutral"/>
        <result column="has_lineup" property="hasLineup"/>
        <result column="explain" property="explain"/>
    </resultMap>

    <!--auto generated by MybatisCodeHelper on 2020-01-15-->
    <select id="findByMatchId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from lottery_game_score
        where match_id=#{matchId}
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-01-15-->
    <select id="findByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from lottery_game_score
        <where>
            <if test="matchId != null">
                and match_id=#{matchId}
            </if>
            <if test="color != null">
                and color=#{color}
            </if>
            <if test="kind != null">
                and kind=#{kind}
            </if>
            <if test="leagueId != null">
                and league_id=#{leagueId}
            </if>
            <if test="leagueChs != null">
                and league_chs=#{leagueChs}
            </if>
            <if test="subLeagueId != null">
                and sub_league_id=#{subLeagueId}
            </if>
            <if test="subLeague != null">
                and sub_league=#{subLeague}
            </if>
            <if test="matchTime != null">
                and match_time=#{matchTime}
            </if>
            <if test="startTime != null">
                and start_time=#{startTime}
            </if>
            <if test="homeChs != null">
                and home_chs=#{homeChs}
            </if>
            <if test="awayChs != null">
                and away_chs=#{awayChs}
            </if>
            <if test="homeId != null">
                and home_id=#{homeId}
            </if>
            <if test="awayId != null">
                and away_id=#{awayId}
            </if>
            <if test="state != null">
                and `state`=#{state}
            </if>
            <if test="homeScore != null">
                and home_score=#{homeScore}
            </if>
            <if test="awayScore != null">
                and away_score=#{awayScore}
            </if>
            <if test="homeHalfScore != null">
                and home_half_score=#{homeHalfScore}
            </if>
            <if test="awayHalfScore != null">
                and away_half_score=#{awayHalfScore}
            </if>
            <if test="homeRed != null">
                and home_red=#{homeRed}
            </if>
            <if test="awayRed != null">
                and away_red=#{awayRed}
            </if>
            <if test="homeYellow != null">
                and home_yellow=#{homeYellow}
            </if>
            <if test="awayYellow != null">
                and away_yellow=#{awayYellow}
            </if>
            <if test="homeCorner != null">
                and home_corner=#{homeCorner}
            </if>
            <if test="awayCorner != null">
                and away_corner=#{awayCorner}
            </if>
            <if test="homeRank != null">
                and home_rank=#{homeRank}
            </if>
            <if test="awayRank != null">
                and away_rank=#{awayRank}
            </if>
            <if test="isNeutral != null">
                and is_neutral=#{isNeutral}
            </if>
            <if test="hasLineup != null">
                and has_lineup=#{hasLineup}
            </if>
            <if test="explain != null">
                and `explain`=#{explain}
            </if>
        </where>
    </select>
</mapper>
